In [1]:
my_int = 6
my_float = 6.

In [3]:
print (type(my_int) )
print (type(my_float))

<class 'int'>
<class 'float'>

In [4]:
3 + 9

12

In [5]:
3 + 3.

6.0

## Operators

In [17]:
print (3 - 9 )
print (3 * 9 )
print (3 / 9 )
print (3 / 3 )
print ('power of')
print (3 ** 9 )
print (3 ** 2 )
print ('division')
print (9 / 2 )
print (9 // 2 )
print (11 / 3 )
print (11 // 3 )
print (9 // 2 )
print( 'Remainder')
print (11 % 3 )

-6
27
0.3333333333333333
1.0
power of
19683
9
division
4.5
4
3.6666666666666665
3
4
Remainder
2

In [18]:
4 % 5

4

In [19]:
6 % 5

1

In [22]:
print ( 'even',1465546 % 2)
print ('uneven',1465547 % 2)

even 0
uneven 1

In [23]:
5.5 % 2

1.5

In [28]:
my_int_1 = 13
my_int_2 = 3
print (f'sum: {my_int_1 + my_int_2}')
print (f'subtract: {my_int_1 - my_int_2}')
print (f'multiply: {my_int_1 * my_int_2}')
print (f'power of: {my_int_1 ** my_int_2}')
print (f'Divide: {my_int_1 / my_int_2}')
print (f'Modulus: {my_int_1 % my_int_2}')

sum: 16
subtract: 10
multiply: 39
power of: 2197
Divide: 4.333333333333333
Modulus: 1

In [29]:
my_float_1 = 13.4198498
my_float_2 = 3.14
print (f'sum: {my_float_1 + my_float_2}')
print (f'subtract: {my_float_1 - my_float_2}')
print (f'multiply: {my_float_1 * my_float_2}')
print (f'power of: {my_float_1 ** my_float_2}')
print (f'Divide: {my_float_1 / my_float_2}')
print (f'Modulus: {my_float_1 % my_float_2}')

sum: 16.5598498
subtract: 10.2798498
multiply: 42.138328372000004
power of: 3476.3831555637157
Divide: 4.273837515923566
Modulus: 0.8598497999999992

In [30]:
dist_moon = 384000
dist_sun = 150000000
dist_sun/ dist_moon

390.625

In [36]:
speed = 150
print (f'seconds to the moon {dist_moon/speed*3600}')
print (f'hours to the moon {dist_moon/speed}')
print (f'days to the moon {dist_moon/speed/24}')
print (f'months to the moon {dist_moon/speed/24/30}')
print (f'years to the moon {dist_moon/speed/24/30/12}')

seconds to the moon 9216000.0
hours to the moon 2560.0
days to the moon 106.66666666666667
months to the moon 3.555555555555556
years to the moon 0.29629629629629634

In [47]:
# import datetime
from datetime import datetime
from datetime import timedelta
from datetime import date

print (datetime.now() )
my_birthday = date(1986,5,4)
datetime.now().date() - my_birthday

delta = timedelta(seconds=dist_moon/speed*3600)
print (f'We would reach the moon on {datetime.now() + delta}')

2021-11-16 10:57:47.131564
We would reach the moon on 2022-03-03 02:57:47.131564

In [49]:
my_bool = 1 > 2
print (my_bool)
print (type(my_bool))

False
<class 'bool'>

In [54]:
my_bool_2 = True
my_bool_3 = False
# my_bad_bool = true
print(my_int)
is_even = my_int % 2 == 0

print (f'my_int is even {is_even}')

6
my_int is even False

## Comparison operators

In [60]:
print (f'equal to operator ==: { 1 == 1} ')
print (f'equal to operator ==: { 1 == 10} ')
print (f'not equal to operator !=: { 1 != 1} ')
print (f'not equal to operator !=: { 1 != 10} ')
print (f'more to operator >: { 15 > 10} ')
print (f'more to operator >=: { 10 >= 10} ')
print (f'more to operator <: { 1 < 10} ')
print (f'more to operator <=: { 10 <= 10} ')

equal to operator ==: True
equal to operator ==: False
not equal to operator !=: False
not equal to operator !=: True
more to operator >: True
more to operator >=: True
more to operator <: True
more to operator <=: True

In [62]:
# True and True
10 > 2 and 2 < 5

True

In [63]:
# True and False
10 > 2 and 10 < 5

False

In [65]:
# False or False
10 > 20 or 10 < 5

False

In [64]:
# True or False
10 > 2 or 10 < 5

True

In [66]:
# False or False
10 > 20 or 10 < 5

False

In [67]:
True and 10 > 5 and 10 % 2 == 0 or False
# <-- True ---> and <-- True -> or 
# <-- True ------------ True -> or

True

In [73]:
True and 10 > 5 and 11 % 2 == 0 or False
# <-- True ---> and <-- False -> or 
# <--  --------False--------- -> or False

False

In [77]:
print (bool('Some text' ) ) 
print (bool('') ) 
print (bool(' ') )

True
False
True

In [80]:
print (bool(5) ) 
print (bool(0) ) 
print (bool(1) ) 
print (bool(-1) ) 
print (bool(-51494898498749) )

True
False
True
True
True

In [83]:
print (bool(5.0) ) 
print (bool(0.0) ) 
print (bool(1.0) ) 
print (bool(-1.) ) 
print (bool(-51494898498749.) ) 
print (bool(0.5) ) 
print (bool(0.00000001) )

True
False
True
True
True
True
True

In [85]:
not 5 > 2

False

In [86]:
not_even = not 10 % 2 == 0
print (not_even)
not_even_2 = 10 % 2 != 0
print (not_even_2)

False
False

In [89]:
# sum = 0
# sum = sum + 5
# sum = sum + 10
# sum = sum - 3
# print (sum)

sum = 0
sum += 5
sum += 10
sum -= 3
print (sum)

12

In [91]:
multiply = 1
multiply *= 10
multiply *= 10
multiply *= 10
print (multiply)

1000

## membership operator

In [98]:
text = 'Hello world'
print ('world' in text )
print ('World' in text )
print ('World ' in text )
print ('Darius' not in text )

True
False
False
True

# List

In [99]:
my_list = [ 1, 5, 10, 15 ]

In [103]:
print ('lenght: ',len(my_list ) )
print ('1st: ', my_list[0] )
print ('slice: ', my_list[2:] )

lenght:  4
1st:  1
slice:  [10, 15]

In [106]:
my_list_2 = [ 10, 1, 1, 2, 2, 'Darius', 'Vilnius', True , 1 > 10]
print( my_list_2)

[10, 1, 1, 2, 2, 'Darius', 'Vilnius', True, False]

In [112]:
my_list_3 = [ 1, 5, 1, 14984, 10, 15, 54 ]
print (my_list_3)
# print (my_list_3.sort() ) # returns None, don't try to print it
my_list_3.sort()
print (my_list_3)
print (my_list_3[::-1])
my_list_3.sort(reverse=True)
print (my_list_3)

[1, 5, 1, 14984, 10, 15, 54]
[1, 1, 5, 10, 15, 54, 14984]
[14984, 54, 15, 10, 5, 1, 1]
[14984, 54, 15, 10, 5, 1, 1]