In [1]:
my_int = 6
my_float = 6.

In [3]:
print (type(my_int) )
print (type(my_float))

<class 'int'>
<class 'float'>

In [4]:
3 + 9

12

In [5]:
3 + 3.

6.0

## Operators

In [17]:
print (3 - 9 )
print (3 * 9 )
print (3 / 9 )
print (3 / 3 )
print ('power of')
print (3 ** 9 )
print (3 ** 2 )
print ('division')
print (9 / 2 )
print (9 // 2 )
print (11 / 3 )
print (11 // 3 )
print (9 // 2 )
print( 'Remainder')
print (11 % 3 )

-6
27
0.3333333333333333
1.0
power of
19683
9
division
4.5
4
3.6666666666666665
3
4
Remainder
2

In [18]:
4 % 5

4

In [19]:
6 % 5

1

In [22]:
print ( 'even',1465546 % 2)
print ('uneven',1465547 % 2)

even 0
uneven 1

In [23]:
5.5 % 2

1.5

In [28]:
my_int_1 = 13
my_int_2 = 3
print (f'sum: {my_int_1 + my_int_2}')
print (f'subtract: {my_int_1 - my_int_2}')
print (f'multiply: {my_int_1 * my_int_2}')
print (f'power of: {my_int_1 ** my_int_2}')
print (f'Divide: {my_int_1 / my_int_2}')
print (f'Modulus: {my_int_1 % my_int_2}')

sum: 16
subtract: 10
multiply: 39
power of: 2197
Divide: 4.333333333333333
Modulus: 1

In [29]:
my_float_1 = 13.4198498
my_float_2 = 3.14
print (f'sum: {my_float_1 + my_float_2}')
print (f'subtract: {my_float_1 - my_float_2}')
print (f'multiply: {my_float_1 * my_float_2}')
print (f'power of: {my_float_1 ** my_float_2}')
print (f'Divide: {my_float_1 / my_float_2}')
print (f'Modulus: {my_float_1 % my_float_2}')

sum: 16.5598498
subtract: 10.2798498
multiply: 42.138328372000004
power of: 3476.3831555637157
Divide: 4.273837515923566
Modulus: 0.8598497999999992

In [30]:
dist_moon = 384000
dist_sun = 150000000
dist_sun/ dist_moon

390.625

In [36]:
speed = 150
print (f'seconds to the moon {dist_moon/speed*3600}')
print (f'hours to the moon {dist_moon/speed}')
print (f'days to the moon {dist_moon/speed/24}')
print (f'months to the moon {dist_moon/speed/24/30}')
print (f'years to the moon {dist_moon/speed/24/30/12}')

seconds to the moon 9216000.0
hours to the moon 2560.0
days to the moon 106.66666666666667
months to the moon 3.555555555555556
years to the moon 0.29629629629629634

In [47]:
# import datetime
from datetime import datetime
from datetime import timedelta
from datetime import date

print (datetime.now() )
my_birthday = date(1986,5,4)
datetime.now().date() - my_birthday

delta = timedelta(seconds=dist_moon/speed*3600)
print (f'We would reach the moon on {datetime.now() + delta}')

2021-11-16 10:57:47.131564
We would reach the moon on 2022-03-03 02:57:47.131564

In [49]:
my_bool = 1 > 2
print (my_bool)
print (type(my_bool))

False
<class 'bool'>

In [54]:
my_bool_2 = True
my_bool_3 = False
# my_bad_bool = true
print(my_int)
is_even = my_int % 2 == 0

print (f'my_int is even {is_even}')

6
my_int is even False

## Comparison operators

In [60]:
print (f'equal to operator ==: { 1 == 1} ')
print (f'equal to operator ==: { 1 == 10} ')
print (f'not equal to operator !=: { 1 != 1} ')
print (f'not equal to operator !=: { 1 != 10} ')
print (f'more to operator >: { 15 > 10} ')
print (f'more to operator >=: { 10 >= 10} ')
print (f'more to operator <: { 1 < 10} ')
print (f'more to operator <=: { 10 <= 10} ')

equal to operator ==: True
equal to operator ==: False
not equal to operator !=: False
not equal to operator !=: True
more to operator >: True
more to operator >=: True
more to operator <: True
more to operator <=: True

In [62]:
# True and True
10 > 2 and 2 < 5

True

In [63]:
# True and False
10 > 2 and 10 < 5

False

In [65]:
# False or False
10 > 20 or 10 < 5

False

In [64]:
# True or False
10 > 2 or 10 < 5

True

In [66]:
# False or False
10 > 20 or 10 < 5

False

In [67]:
True and 10 > 5 and 10 % 2 == 0 or False
# <-- True ---> and <-- True -> or 
# <-- True ------------ True -> or

True

In [73]:
True and 10 > 5 and 11 % 2 == 0 or False
# <-- True ---> and <-- False -> or 
# <--  --------False--------- -> or False

False

In [77]:
print (bool('Some text' ) ) 
print (bool('') ) 
print (bool(' ') )

True
False
True

In [80]:
print (bool(5) ) 
print (bool(0) ) 
print (bool(1) ) 
print (bool(-1) ) 
print (bool(-51494898498749) )

True
False
True
True
True

In [83]:
print (bool(5.0) ) 
print (bool(0.0) ) 
print (bool(1.0) ) 
print (bool(-1.) ) 
print (bool(-51494898498749.) ) 
print (bool(0.5) ) 
print (bool(0.00000001) )

True
False
True
True
True
True
True

In [85]:
not 5 > 2

False

In [86]:
not_even = not 10 % 2 == 0
print (not_even)
not_even_2 = 10 % 2 != 0
print (not_even_2)

False
False

In [89]:
# sum = 0
# sum = sum + 5
# sum = sum + 10
# sum = sum - 3
# print (sum)

sum = 0
sum += 5
sum += 10
sum -= 3
print (sum)

12

In [91]:
multiply = 1
multiply *= 10
multiply *= 10
multiply *= 10
print (multiply)

1000

## membership operator

In [98]:
text = 'Hello world'
print ('world' in text )
print ('World' in text )
print ('World ' in text )
print ('Darius' not in text )

True
False
False
True

# List

In [99]:
my_list = [ 1, 5, 10, 15 ]

In [103]:
print ('lenght: ',len(my_list ) )
print ('1st: ', my_list[0] )
print ('slice: ', my_list[2:] )

lenght:  4
1st:  1
slice:  [10, 15]

In [106]:
my_list_2 = [ 10, 1, 1, 2, 2, 'Darius', 'Vilnius', True , 1 > 10]
print( my_list_2)

[10, 1, 1, 2, 2, 'Darius', 'Vilnius', True, False]

In [112]:
my_list_3 = [ 1, 5, 1, 14984, 10, 15, 54 ]
print (my_list_3)
# print (my_list_3.sort() ) # returns None, don't try to print it
my_list_3.sort()
print (my_list_3)
print (my_list_3[::-1])
my_list_3.sort(reverse=True)
print (my_list_3)

[1, 5, 1, 14984, 10, 15, 54]
[1, 1, 5, 10, 15, 54, 14984]
[14984, 54, 15, 10, 5, 1, 1]
[14984, 54, 15, 10, 5, 1, 1]

In [1]:
my_list_4 = [ 1, 5, 1, ['New list inside', "Vilnius"], 10, 15, 54 ]
print (my_list_4)
print (my_list_4[3])

[1, 5, 1, ['New list inside', 'Vilnius'], 10, 15, 54]
['New list inside', 'Vilnius']

In [4]:
print (my_list_4 )
my_list_4[1] = 100
print (my_list_4)

[1, 5, 1, ['New list inside', 'Vilnius'], 10, 15, 54]
[1, 100, 1, ['New list inside', 'Vilnius'], 10, 15, 54]

In [8]:
my_list_4[3][0] = 'HAHA'
print(my_list_4)

[1, 100, 1, ['HAHA', 'Vilnius'], 10, 15, 54]

In [10]:
# import numpy as np
# np.ones( (5,5) )

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [12]:
([1,2,3] + ['a', 'b', 'c'] ) * 10

[1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c']

In [69]:
my_list = [1,2,3]
print (my_list)
my_list.append(5)
my_list.append('abs')
my_list.append( [10,100,1000] )
print (my_list)
my_list.extend('abs')
my_list.extend([156])
my_list.extend( [10,100,1000] )
print (my_list)
poped_value = my_list.pop()
print (poped_value)
print (my_list)
poped_value = my_list.pop()
print (poped_value)
print (my_list)
poped_value = my_list.pop(0)
print (poped_value)
print (my_list)

[1, 2, 3]
[1, 2, 3, 5, 'abs', [10, 100, 1000]]
[1, 2, 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156, 10, 100, 1000]
1000
[1, 2, 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156, 10, 100]
100
[1, 2, 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156, 10]
1
[2, 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156, 10]

In [70]:
print (my_list)
my_list.insert(3, "new_text")
print (my_list)

[2, 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156, 10]
[2, 3, 5, 'new_text', 'abs', [10, 100, 1000], 'a', 'b', 's', 156, 10]

In [71]:
print (my_list)
my_list.remove('a') # will through an error if does not exist
print (my_list)

[2, 3, 5, 'new_text', 'abs', [10, 100, 1000], 'a', 'b', 's', 156, 10]
[2, 3, 5, 'new_text', 'abs', [10, 100, 1000], 'b', 's', 156, 10]

In [72]:
print (my_list)
index_10 = my_list.index(10) 
print (index_10 )
print (my_list[index_10] )
# my_list.index(15419)  # Errorm not found
index_10 = my_list.index([10, 100, 1000]) 
print (index_10 )
print (my_list[index_10] )

[2, 3, 5, 'new_text', 'abs', [10, 100, 1000], 'b', 's', 156, 10]
9
10
5
[10, 100, 1000]

In [73]:
# my_list.clear() # deletes everything

In [74]:
my_list.extend([5,5,5,5,5])
print (my_list)
my_list.count(5)

[2, 3, 5, 'new_text', 'abs', [10, 100, 1000], 'b', 's', 156, 10, 5, 5, 5, 5, 5]

6

In [75]:
my_list.reverse()
my_list

[5, 5, 5, 5, 5, 10, 156, 's', 'b', [10, 100, 1000], 'abs', 'new_text', 5, 3, 2]

# Mutable vs immutable

In [78]:
# immutable
a = 1
b = a
b += 1
print(a)
print(b)
print( id(a) )
print( id(b) )

1
2
140712287108160
140712287108192

In [87]:
# mutable
list_1 = [1,2,3]
list_2 = list_1
list_2.append(100)
list_2.append(100)
list_2.append(100)
print(list_1)
print(list_2)
print( id(list_1) )
print( id(list_2) )

[1, 2, 3, 100, 100, 100]
[1, 2, 3, 100, 100, 100]
2115254245832
2115254245832

In [92]:
# Fixing mutability (Solution 1). 
# list_1 = [1,2,3]
list_1 = [1,2,[1,0,100] ]
list_2 = list_1.copy()
list_2.append(100)
list_2[2].append(100)
list_2[2].append(100)
list_2[2].append('inside')
print(list_1)
print(list_2)
print( id(list_1) )
print( id(list_2) )
print( id(list_1[2]) )
print( id(list_2[2]) )

[1, 2, [1, 0, 100, 100, 100, 'inside']]
[1, 2, [1, 0, 100, 100, 100, 'inside'], 100]
2113594025992
2115254245640
2113594060680
2113594060680

In [94]:
# Fixing mutability (Solution 2)
import copy
list_1 = [1,2,[1,0,100] ]
list_2 = copy.deepcopy(list_1) 
list_2.append(100)
list_2[2].append(100)
list_2[2].append('inside')
print(list_1)
print(list_2)
print( id(list_1) )
print( id(list_2) )
print( id(list_1[2]) )
print( id(list_2[2]) )

[1, 2, [1, 0, 100]]
[1, 2, [1, 0, 100, 100, 'inside'], 100]
2113594162120
2115254245832
2113594024392
2113594024712

In [97]:
print (my_list)
print('b' in my_list)
print(153 in my_list)

[5, 5, 5, 5, 5, 10, 156, 's', 'b', [10, 100, 1000], 'abs', 'new_text', 5, 3, 2]
True
False

# Tuple

In [109]:
my_tuple = (1, 1, 'a', 'b', 'ab' )
print (my_tuple[:3] )
print (my_tuple[4])
print (f'lenght of the tuple: {len (my_tuple)}' )
print (f'count of 1 in tuple: {my_tuple.count(1)}' )
print (f"count of 'c' in tuple: {my_tuple.count('c')}" )
print (f"check if 'b' is in tuple: { 'b' in my_tuple}" )
print (f"check 'b' index in tuple: { my_tuple.index('b')}" )

# my_tuple[2] = 'c' # Error, can't do that

(1, 1, 'a')
ab
lenght of the tuple: 5
count of 1 in tuple: 2
count of 'c' in tuple: 0
check if 'b' is in tuple: True
check 'b' index in tuple: 3

In [116]:
tuple_1 = (1,2,3)
tuple_2 = (4,5,3)
tuple_3 = tuple_1 + tuple_2
print(tuple_3)

(1, 2, 3, 4, 5, 3)

In [118]:
tuple_1 = (1,2,3)
tuple_2 = (4,5,3)
tuple_3 = tuple_1 + tuple_2
tmp_list = list(tuple_3)
print (tmp_list)
tmp_list[3] = 10
tuple_3 = tuple(tmp_list)
print (tuple_3)

[1, 2, 3, 4, 5, 3]
(1, 2, 3, 10, 5, 3)

In [124]:
my_tuple_2 = (1, 2, ['3', 4, 5], [6, [7, (8)]])
print (my_tuple_2[3][1][1] )
print (my_tuple_2[-1][-1][-1] )

8
8

In [125]:
tuple1 = (11, [222, 33], 44, 55)
print (tuple1)
tmp_list = list(tuple1)
print (tmp_list[1])
tmp_list[1][1] = 22
tuple1 = tuple(tuple1)
print (tuple1)

(11, [222, 33], 44, 55)
[222, 33]
(11, [222, 22], 44, 55)

In [126]:
tuple1 = (11, [222, 33], 44, 55)
print (tuple1)
tuple1[1][1] = 22
print (tuple1)

(11, [222, 33], 44, 55)
(11, [222, 22], 44, 55)

# Range

In [134]:
print (list(range(10) ) )
print (list(range(5, 10) ) )
print (list(range(5, 25, 2) ) )
# print (list(range(5, 25, 2) ) )
print (list(range(50, 25, -5) ) )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[5, 7, 9, 11, 13, 15, 17, 19, 21, 23]
[50, 45, 40, 35, 30]

In [139]:
print (type( range(10) ) )
print (type( [1,5,3] ) )
print (type( (1,5,3) ) )
print (type( my_tuple ) )

<class 'range'>
<class 'list'>
<class 'tuple'>
<class 'tuple'>

# For loop

In [141]:
cities = ['Vilnius', 'Kaunas', 'London']
for city in cities:
    print (f'City is called {city}')
print ("went through all cities")

City is called Vilnius
City is called Kaunas
City is called London
went through all cities

In [143]:
for i in range(5,50,5):
    print (f'index is {i}')

index is 5
index is 10
index is 15
index is 20
index is 25
index is 30
index is 35
index is 40
index is 45

In [152]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

combinations = []
for day in days:
    print(day)
    for hour in hours:
        print (hour)
        combination = (day,hour)
        combinations.append( combination )
    print ('Checking next day')

print (combinations)

Monday
10
11
12
13
14
15
16
17
18
19
Checking next day
Tuesday
10
11
12
13
14
15
16
17
18
19
Checking next day
Wednesday
10
11
12
13
14
15
16
17
18
19
Checking next day
Thursday
10
11
12
13
14
15
16
17
18
19
Checking next day
Friday
10
11
12
13
14
15
16
17
18
19
Checking next day
Saturday
10
11
12
13
14
15
16
17
18
19
Checking next day
Sunday
10
11
12
13
14
15
16
17
18
19
Checking next day
[('Monday', 10), ('Monday', 11), ('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Monday', 18), ('Monday', 19), ('Tuesday', 10), ('Tuesday', 11), ('Tuesday', 12), ('Tuesday', 13), ('Tuesday', 14), ('Tuesday', 15), ('Tuesday', 16), ('Tuesday', 17), ('Tuesday', 18), ('Tuesday', 19), ('Wednesday', 10), ('Wednesday', 11), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17), ('Wednesday', 18), ('Wednesday', 19), ('Thursday', 10), ('Thursday', 11), ('Thursday', 12), ('Thursday', 13), ('Thursday', 14), ('Thursday', 15), ('Thursday', 16), ('Thursday', 17), ('Thursday', 18), ('Thursday', 19), ('Friday', 10), ('Friday', 11), ('Friday', 12), ('Friday', 13), ('Friday', 14), ('Friday', 15), ('Friday', 16), ('Friday', 17), ('Friday', 18), ('Friday', 19), ('Saturday', 10), ('Saturday', 11), ('Saturday', 12), ('Saturday', 13), ('Saturday', 14), ('Saturday', 15), ('Saturday', 16), ('Saturday', 17), ('Saturday', 18), ('Saturday', 19), ('Sunday', 10), ('Sunday', 11), ('Sunday', 12), ('Sunday', 13), ('Sunday', 14), ('Sunday', 15), ('Sunday', 16), ('Sunday', 17), ('Sunday', 18), ('Sunday', 19)]

In [153]:
text = input("enter something")

In [154]:
print (text)

My name Darius

In [155]:
number = input("enter a number")

In [157]:
print (number)
print (type(number) )
print (type( int( number) ) )

5
<class 'str'>
<class 'int'>